#frontend {
  @import "~bulma/bulma.sass";
}

.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.margin-bottom-1 {
  margin-bottom: 5px !important;
}

.margin-bottom-2 {
  margin-bottom: 10px !important;
}

.margin-bottom-3 {
  margin-bottom: 15px !important;
}

.margin-bottom-4 {
  margin-bottom: 20px !important;
}

.margin-bottom-5 {
  margin-bottom: 25px !important;
}
