#login {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  position: relative;
  background-color: #fff;
  background-image: url(./assets/images/login-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: '';
    background-color: rgba( 0, 0, 0, 0.75 );
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .login-page-title-tagline--wrapper {
    position: relative;
    min-height: 100vh;
    z-index: 100;
    display: flex;
    align-items: flex-end;
    .login-page-title-tagline {
      margin-left: 15px;
      margin-bottom: 15px;
      .title {
        color: #fff !important;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 300;
      }
      .tagline {
        color: #fff !important;
        font-size: 16px;
        font-weight: 100;
      }
    }
  }

  .login-form-container {
    background-color: rgba( 255, 255, 255, 0.05 );
    position: relative;
    min-height: 100vh;
    padding: 15px;
    z-index: 100;

    .brand {
      margin-top: 25px;
      margin-bottom: 25px;
      &.brand-text {
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        color: #fff;
      }
    }

    .transparent-input {
      .ant-input-prefix {
        .anticon {
          color: #fff !important;
        }
      }
      .ant-input {
        background: transparent;
        border: none;
        color: #fff;
        border-bottom: 1px solid #fff;
        border-radius: 0;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    .login-buttons {
      .ant-form-item-children {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ant-checkbox-wrapper span {
          color: #fff;
        }
      }
    }
  }
}
