#backend {
  .header {
    background: #fff;
    padding: 0;
    display: flex;
    padding: 0 24px;

    .trigger {
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color .3s;
    }

    .menu-right {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: auto;

      li.nav-item {
        margin-left: 0;
        margin-right: 35px;
        cursor: pointer;
        position: relative;
        font-size: 18px;

        .nav-link {
          cursor: pointer;
        }
      }
    }
  }

  .content {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
    min-height: calc(100vh - 112px);
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }

  .content-wrapper {
    background-color: #fff;
    padding: 10px;
  }

}

.popover-custom--wrapper {
  margin: -12px -16px;

  .popover-header {
    padding: 15px 30px;

    h3 {
      font-size: 14px;
      font-weight: 500;
      color: #323332;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .popover-custom-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 7px 0;
    width: 220px;

    .popover-custom-menu-item {
      display: block;
      width: 100%;
      padding: 7px 15px;
      font-size: 13px;
      cursor: pointer;
      color: #333;

      &:hover {
        background-color: #f5f6f8;
      }
    }
  }

}
